*{
  margin:0;
}
.app{
  text-align: center;
}
.hlist1
{
  background-color: aqua;
  
}
.input
{
  width:30%;
  padding:auto;
  margin-top: 1%;
}
.button
{
  background-color: aquamarine;
  margin-left:1% ;
}